<div class="row">
  <div class="col-12">
    <%= f.field_container :link_text do %>
      <%= f.label :link_text, class: "required" %>
      <%= f.text_field :link_text, required: true, class: "fullwidth title" %>
      <%= f.error_message_on :link_text %>
    <% end %>
  </div>
  <div class="col-4">
    <%= f.field_container :page do %>
      <%= f.label :page_id %>
      <%= f.select :page_id,
        Spree::Page.all.map { |page| [page.title, page.id]},
        { include_blank: t('spree.match_choices.none') },
        { class: 'custom-select' }
      %>
      <%= f.error_message_on :page_id %>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.field_container :content_block do %>
      <%= f.label :content_block_id %>
      <%= f.select :content_block_id,
        Spree::ContentBlock.all.map { |cb| [cb.block_name, cb.id]},
        { include_blank: t('spree.match_choices.none') },
        { class: 'custom-select' }
      %>
      <%= f.error_message_on :content_block_id %>
    <% end %>
  </div>
  
  <div class="col-4">
    <%= f.field_container :url do %>
      <%= f.label :url %>
      <%= f.text_field :url, class: "fullwidth title" %>
      <%= f.error_message_on :url %>
    <% end %>
  </div>
</div>