<div class="top-bar">
  <figure class="logo">
    <%= logo %>
  </figure>

  <ul class="top-bar__menu-bar">
    <% menu = Spree::Menu.find_by(link_text: "Header") %>
    <% if menu %>
      <% menu.children.each do |menu| %>
        <li><%= link_to menu.link_text, menu.url %></li>
        <% if menu.children && @page && menu.is_allowed_to_display_child_menus?(@page) %>
          <ul class="child_child_menu">
            <% menu.children.each do |child_child| %>
              <li><%= link_to child_child.link_text, child_child.url %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <% if spree_current_user %>
    <%= link_to I18n.t('spree.my_account'), spree.account_path, class: 'auth-link' %>
  <% else %>
    <%= link_to I18n.t('spree.login'), spree.login_path, class: 'auth-link' %>
  <% end %>

  <div class="cart-link" id="link-to-cart">
    <noscript>
      <%= link_to t('spree.cart'), spree.cart_path %>
    </noscript>
  </div>

  <script>
    Solidus.fetch_cart('<%= j spree.cart_link_path %>')
  </script>
</div>
