<div class="top-bar">
  <figure class="logo">
    <%= logo %>
  </figure>

  <ul class="top-bar__menu-bar">
    <% menu_bar = Spree::MenuBar.find_by(name: "Header") %>
    <% if menu_bar.present? %>
      <% menu_bar.menus.each do |menu| %>
        <li><%= link_to menu.link_text, menu.url %></li>
      <% end %>
    <% end %>
  </ul>

  <% if spree_current_user %>
    <%= link_to I18n.t('spree.my_account'), spree.account_path, class: 'auth-link' %>
  <% else %>
    <%= link_to I18n.t('spree.login'), spree.login_path, class: 'auth-link' %>
  <% end %>

  <div class="cart-link" id="link-to-cart">
    <noscript>
      <%= link_to t('spree.cart'), spree.cart_path %>
    </noscript>
  </div>

  <script>
    Solidus.fetch_cart('<%= j spree.cart_link_path %>')
  </script>
</div>
