<section id="<%= cb.block_name %>" class="content_<%= cb.content_type %>">
  <h1><%= cb.body_1 %></h1>
  <div class="container">
    <% cb.recent_events.first(3).each do |product| %>
      <% url = spree.product_path(product) %>
      <div class="card">
        <a href="<%= url %>" target="_blank">
          <% if product.gallery.images.first.present? %>
            <%= image_tag product.gallery.images.first.url %>
          <% else %>
            <%= image_tag "placeholder_products.jpeg" %>
          <% end %>
          <div class="info">
            <h2><%= product.name %></h2>
            <p><%= product.price_for_options(current_pricing_options)&.money.to_html %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</section>