<% if @page.layout.present? and @page.render_layout_as_partial? %>
  <%= render :partial => @page.layout %>
<% else %>
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
        <%= render partial: 'spree/shared/filters' %>
      <% end %>
    </div>
  <% end %>

  <% stage = @page.content_blocks.find_by(content_type: :stage) %>
  <%= render partial: stage.content_type, locals: { cb: stage } if stage.present? && stage.visible %>

  <div id="<%= @page.title %>" class="pages">
    <section class="page_body">
      <%= raw @page.body %>
    </section>
  </div>

  <% @page.content_blocks.reject { |cb| cb.content_type == "stage" }.each do |cb| %>
    <%= render partial: cb.content_type, locals: { cb: cb } if cb.visible %>
  <% end %>
<% end %>