<% if @page.layout.present? and @page.render_layout_as_partial? %>
  <%= render :partial => @page.layout %>
<% else %>
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
        <%= render partial: 'spree/shared/filters' %>
      <% end %>
    </div>
  <% end %>

  <ul class="second_menu_bar">
    <% if @page.menu_bar.present? %>
      <% @page.menu_bar.menus.each do |menu| %>
        <li><%= link_to menu.link_text, menu.url %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="pages">
    <h1 class="page_title"><%= @page.title %></h1>
    <section class="page_body">
      <%= raw @page.body %>
    </section>
  </div>
  <% @page.content_blocks.each do |cb| %>
    <%= render partial: cb.content_type, locals: { cb: cb } if cb.visible %>
  <% end %>
<% end %>