<% if @page.layout.present? and @page.render_layout_as_partial? %>
  <%= render :partial => @page.layout %>
<% else %>
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
        <%= render partial: 'spree/shared/filters' %>
      <% end %>
    </div>
  <% end %>


  <% if @page.menu && @page.menu.children %>
    <ul class="child_menu">
      <% @page.menu.children.each do |child| %>
        <li><%= link_to child.link_text, child.url%></li>
        <% if child.children && child.is_allowed_to_display_child_menus?(@page) %>
          <ul class="child_child_menu">
            <% child.children.each do |child_child| %>
              <li><%= link_to child_child.link_text, child_child.url %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <div class="pages">
    <h1 class="page_title"><%= @page.title %></h1>
    <section class="page_body">
      <%= raw @page.body %>
    </section>
  </div>
  <% @page.content_blocks.each do |cb| %>
    <%= render partial: cb.content_type, locals: { cb: cb } if cb.visible %>
  <% end %>
<% end %>