<%
  schema_properties = {
    itemprop: 'offers',
    itemscope: true,
    itemtype: 'http://schema.org/Offer'
  }
%>

<% present_participant = product.participants.select { |p| p.user.eql? spree_current_user }.first %>
<% if present_participant.present? && present_participant.confirmed %>
  <%= form_for :order, url: populate_orders_path, html: schema_properties do |f| %>
    <% if product_variants_with_options(product).any? %>
      <div class="variant-container">
        <% sorted_option_types(product).each_with_index do |option_type, i| %>
          <div class="variant-selection">
            <%= render 'spree/products/product_selection/option_type', product: product, option_type: option_type, index: i %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render 'product_variants', product: product %>

    <% if product.price %>
      <p><%= I18n.t('spree.participants.reserve_confirmed_information') %></p>
      <%= render 'product_submit', product: product %>
    <% else %>
      <div id='product-price'>
        <p data-js='price' itemprop='price'>
          <%= t('spree.product_not_available_in_this_currency') %>
        </p>
      </div>
    <% end %>
  <% end %>
<% elsif present_participant.present? && !present_participant.confirmed %>
  <p><%= I18n.t('spree.participants.reserve_waiting_information') %></p>
<% else %>
  <p><%= I18n.t('spree.participants.reserve_information') %></p>
  <%= form_for :participants, url: reserve_user_path, method: :post do |f| %>
    <%= f.hidden_field :user_id, value: spree_current_user.id %>
    <%= f.hidden_field :product_id, value: product.id %>
    <%= f.button I18n.t('spree.participants.reserve'), class: 'button-primary' %>
  <% end %>
<% end %>