<% admin_layout "full-width" %>
<% admin_breadcrumb(plural_resource_name(Spree::Product)) %>
<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.new_product'), new_object_url, class: 'btn btn-primary' %>
  </li>
<% end if can?(:create, Spree::Product) %>
<% content_for :table_filter_title do %>
  <%= t('spree.search') %>
<% end %>
<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
      <%- locals = {f: f} %>
      <div class="row" data-hook="admin_products_index_search" >
        <div class="col-6">
          <div class="field">
            <%= f.label :name_cont, Spree::Product.human_attribute_name(:name) %>
            <%= f.text_field :name_cont, size: 15 %>
          </div>
        </div>

        <div class="col-4">
          <div class="field">
            <div class="js-kept-variant-sku-input">
              <%= f.label :with_kept_variant_sku_cont, Spree::Variant.human_attribute_name(:sku) %>
              <%= f.text_field :with_kept_variant_sku_cont, size: 15 %>
            </div>
            <div class="js-all-variant-sku-input">
              <%= f.label :with_all_variant_sku_cont, Spree::Variant.human_attribute_name(:sku) %>
              <%= f.text_field :with_all_variant_sku_cont, size: 15 %>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="field checkbox">
            <label>
              <%= f.check_box :with_discarded, { checked: params[:q][:with_discarded] == 'true', class: 'js-with-discarded-input' }, 'true', 'false' %>
              <%= t('spree.show_deleted') %>
            </label>
          </div>
        </div>
      </div>

      <div class="actions filter-actions" data-hook="admin_products_index_search_buttons">
        <%= button_tag t('spree.search'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @collection.any? %>
<%
  participants = Spree::Participant.all.select { |participant| participant.state.include? 'request' }
%>
<fieldset class="no-border-top">
  <legend><%= I18n.t('spree.requested_participants') %></legend>
  <table>
    <colgroup>
      <col style='width:15%'>
      <col style='width:25%'>
      <col style='width:15%'>
      <col style='width:15%'>
      <col style='width:15%'>
      <col style='width:30%'>
    </colgroup>
      <thead>
        <tr>
          <th><%= I18n.t('spree.user') %></th>
          <th><%= I18n.t('spree.course') %></th>
          <th><%= I18n.t('spree.date_and_time') %></th>
          <th><%= I18n.t('spree.participants') %></th>
          <th><%= I18n.t('spree.trainer') %></th>
          <th class='actions'><%= I18n.t('spree.confirmed') %></th>
        </tr>
      </thead>
      <tbody>
        <% participants.each do |participant| %>
          <% product = participant.product %>
          <tr style="<%= "background: lightgrey" if product.trainer.eql? spree_current_user %>">
            <td>
              <%= link_to participant.user.email, edit_admin_user_path(participant.user) %>
              <%= link_to_with_icon 'email', t('spree.actions.send_email'), "mailto: #{participant.user.email}", no_text: true %>
            </td>
            <td><%= link_to participant.product.name, admin_product_url(participant.product) %></td>
            <td><%= product.date_and_time.strftime('%Y-%m-%d %H:%M') %></td>
            <td><%= product.participants.length %></td>
            <td><%= product.trainer.name_and_email if product.trainer.present? %></td>
            <td class='actions'>
              <%= link_to_with_icon 'check', I18n.t('spree.yes'), toggle_confirm_admin_product_participant_path(participant.product, participant), class: 'align-right', method: :put, no_text: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </colgroup>
  </table>
</fieldset>
<div id="new_product_wrapper" data-hook></div>

<%= paginate @collection, theme: "solidus_admin" %>
  <table class="index" id="listing_products">
    <colgroup>
       <col style="width: 5%;">
       <col style="width: 25%;">
       <col style="width: 10%;">
       <col style="width: 20%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th></th>
        <th><%= sort_link @search, :name, Spree::Product.human_attribute_name(:name), {}, {title: 'admin_products_listing_name_title'} %></th>
        <th><%= sort_link @search, :date_and_time %></th>
        <th><%= I18n.t("spree.taxons") %></th>
        <th class="align-center"><%= sort_link @search, :participants_count, I18n.t('spree.participants') %></th>
        <th><%= sort_link @search, :trainer_id, Spree::Product.human_attribute_name(:trainer) %></th>
        <th class="align-right"><%= sort_link @search,:master_default_price_amount, I18n.t('spree.price'), {}, {title: 'admin_products_listing_price_title'} %></th>
        <th data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |product| %>
        <tr <%== "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows" style="<%= "background: lightgrey" if product.trainer.eql? spree_current_user %>">
          <td class="align-center"><%= render 'spree/admin/shared/image', image: product.gallery.images.first, size: :mini %></td>
          <td><%= link_to product.try(:name), admin_product_participants_url(product) %></td>
          <td><%= product.date_and_time.strftime("%Y-%m-%d") %></td>
          <td><% product.taxons.each do |t|  %>
            <%= t.name %>
          <% end %></td>
          <td class="align-center"><%= product.participants_count %></td>
          <td><%= product.trainer.name_and_email if product.trainer.present? %></td>
          <td class="align-right"><%= product.display_price&.to_html %></td>
          <td class="actions" data-hook="admin_products_index_row_actions">
            <% if !product.course_confirmed %>
              <%= link_to_with_icon 'check', I18n.t('spree.confirm'), unlock_course_admin_product_path(product), class: 'align-right', method: :put, no_text: true %>
            <% end %>
            <%= link_to_with_icon 'edit', I18n.t('spree.edit'), admin_product_participants_url(product), no_text: true, class: 'edit' if can?(:admin, Spree::Participant) && !product.deleted? %>
            &nbsp;
            <%= link_to_clone product, no_text: true, class: 'clone' if can?(:clone, product) %>
            &nbsp;
            <%= link_to_delete product, no_text: true if can?(:destroy, product) && !product.deleted? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Product,
                  new_resource_url: new_object_url %>
  </div>
<% end %>
<%= paginate @collection, theme: "solidus_admin" %>