<% admin_breadcrumb link_to(plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb t('spree.new_products') %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @product } %>

<%= form_for [:admin, @product], url: "create_bulk", method: :post do |f| %>
  <fieldset>
    <legend align="center"><%= t('spree.new_products') %></legend>

    <div class="row">
      <div class="col-6">
        <%= f.field_container :date_and_time do %>
          <%= f.label I18n.t('spree.first_event'), class: "required" %>
          <%= f.field_hint :first_event %>
          <%= render "spree/admin/shared/datetimepicker", f: f, date_attr: :date_and_time, required: true %>
          <%= f.error_message_on :date_and_time %>
        <% end %>

        <%= f.field_container :taxons do %>
          <%= f.label :taxon_ids, plural_resource_name(Spree::Taxon) %><br />
          <%= f.hidden_field :taxon_ids, value: @product.taxon_ids.join(','), class: 'fullwidth' %>
        <% end %>
      </div>
      <div class='col-6'>
        <div class='field'>
          <%= label_tag I18n.t('spree.repeat_pattern') %>
          <%= select_tag 'repeat_pattern', options_for_select([['weekly' ,'weekly'], ['monthly', 'monthly']]), class: 'custom-select', required: :true %>
        </div>

        <div class='field'>
          <%= label_tag I18n.t('spree.repeat_amount'), nil, class: 'required' %> <br>
          <%= number_field_tag :repeat_amount, 2, in: 1...13, step: 1, requiered: true, class: 'fullwidth' %>
        </div>
      </div>
    </div>
    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>