<div class="account-summary">
  <div class="account-summary__profile">
    <h2><%= I18n.t('spree.email') %></h2>
    <p><%= @user.email %> (<%= link_to I18n.t('spree.edit'), spree.edit_account_path %>)</p>
  </div>

  <h2><%= I18n.t('spree.reserved_courses') %></h2>
  <table>
    <colgroup>
      <col style="width:30%;">
      <col style="width:50%;">
      <col style="width:30%;">
    </colgroup>
    <thead>
      <tr>
        <th><%= I18n.t('spree.course') %></th>
        <th><%= I18n.t('spree.date') %></th>
        <th><%= I18n.t('spree.status') %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.participants.select { |participant| participant.product.date_and_time.future? }.each do |participant| %>
        <tr>
          <td>
            <%= link_to participant.product.name, product_path(participant.product), target: '_blank' %>
          </td>
          <td>
            <%= participant.product.date_and_time.strftime('%Y-%m-%d %a %H:%M') %>
          </td>
          <td>
            <% if participant.state.include? 'confirm' %>
              <%= link_to participant.state_message, product_url(participant.product), target: '_blank' %>
            <% else %>
              <%= participant.state_message %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="account-summary__orders">
    <h2><%= I18n.t('spree.my_orders') %></h2>
    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <dl class="account-order">
          <div class="account-order__detail">
            <dt><%= I18n.t(:number, scope: 'activerecord.attributes.spree/order') %></dt>
            <dd><%= link_to order.number, order_url(order) %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.date') %></dt>
            <dd><%= l order.completed_at.to_date %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.status') %></dt>
            <dd><%= I18n.t("spree.order_state.#{order.state}").titleize %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.payment_state') %></dt>
            <dd><%= I18n.t("spree.payment_states.#{order.payment_state}").titleize if order.payment_state %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.shipment_state') %></dt>
            <dd><%= I18n.t("spree.shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.total') %></dt>
            <dd><%= order.display_total %></dd>
          </div>
        </dl>
      <% end %>
    <% else %>
      <p><%= I18n.t('spree.you_have_no_orders_yet') %></p>
    <% end %>
  </div>

  <%= form_with(url: spree.logout_path, method: Devise.sign_out_via, local: true) do %>
    <%= button_tag(t("spree.logout"), class: 'button-primary') %>
  <% end %>
</div>
