<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(link_to @product.name, spree.admin_product_path(@product)) %>

<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_product_tabs">
      <%= content_tag :li, class: ('active' if current == 'Product Details') do %>
        <%= link_to t('spree.product_details'), spree.edit_admin_product_url(@product) %>
      <% end if can?(:edit, Spree::Product) %>
      <%= content_tag :li, class: ('active' if current == 'Images') do %>
        <%= link_to t('spree.images'), spree.admin_product_images_url(@product) %>
      <% end if can?(:admin, Spree::Image) && !@product.deleted? %>
      <%= content_tag :li, class: ('active' if current == 'Stock Management') do %>
        <%= link_to t('spree.stock_management'), spree.admin_product_stock_url(@product) %>
      <% end if can?(:admin, Spree::StockItem) && !@product.deleted? %>
      <%= content_tag :li, class: ('active' if current == 'Participant') do %>
        <%= link_to t('spree.participants'), spree.admin_product_participants_url(@product) %>
      <% end if can?(:admin, Spree::Participant) && !@product.deleted? %>
    </ul>
  </nav>
<% end %>