<h2><%= I18n.t("spree.participants.registered_participants") %></h2>
<table class="index participant_table">
  <colgroup>
    <col style="width:25%;">
    <col style="width:20%;">
    <col style="width:15%;">
    <col style="width:10%;">
    <col style="width:10%;">
    <col style="width:20%;">
  </colgroup>
  <thead>
    <tr>
      <th><%= I18n.t("spree.email") %></th>
      <th><%= I18n.t("spree.order") %></th>
      <th><%= I18n.t("spree.roles") %></th>
      <th><%= I18n.t("spree.payment_method") %></th>
      <th><%= I18n.t("spree.price") %></th>
      <th class="align-right"><%= Spree::Payment.human_attribute_name(:payment_state) %></th>
    </tr>
  </thead>
  <tbody>
    <% participants.each do |participant| %>
      <%= form_for [:admin, @product, participant] do |f| %>
        <%= render partial: 'table_row_form', locals: { f: f, participant: participant } %>
      <% end %>
    <% end %>
  </tbody>
</table>