<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Participant' } %>
<%= render partial: 'spree/admin/participants/trainers_form' if can?(:update, Spree::Product) %>

<%#%> admin_breadcrumb(t('spree.participants')) %>

<% if @participants.any? %>
  <% not_confirmed_participants = @participants.select { |participant| participant.order.eql? nil } %>
  <%= render partial: 'not_confirmed_participants', locals: { participants: not_confirmed_participants } %>
  <br><br>
  <% confirmed_participants = @participants.select { |participant| participant.order.present? } %>
  <%= render partial: 'confirmed_participants', locals: { participants: confirmed_participants } %>
<% else %>
  <div class="no-objects-found"><%= I18n.t('spree.no_participant_found') %></div>
<% end %>